<a href="https://colab.research.google.com/github/olonok69/NEO4J/blob/main/NEO4J_03_Recommendations_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Recommendations: Part 1

In this notebook you will learn how to make recommendations using Neo4j. 

Execute the code to import the libraries (remember to unset Reset all runtimes before running):

In [ ]:
!pip install py2neo==4.1.3 pandas matplotlib sklearn

Collecting py2neo==4.1.3
  Downloading https://files.pythonhosted.org/packages/23/ca/c8de5a2c754d75c70473c849a23f49971b60914e6d6c00c9328ff64f56c5/py2neo-4.1.3.tar.gz (70kB)
     |████████████████████████████████| 71kB 2.9MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.2.2)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: click>=2.0 in /usr/local/lib/python3.6/dist-packages (from py2neo==4.1.3) (7.1.2)
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Collecting neo4j-driver<1.7,>=1.6.2
  Downloading https://files.pythonhosted.org/packages/12/db/1c68c1c244ea4afedf14459645a9c5e4124b9fbec12b2da02ed084ac32f7/neo4j-driver-1.6.3.tar.gz (188kB)
     |████████████████████████████████| 194kB 7.8MB/s
Collecting neotime==1.0.0
  Downloading https://files.pythonhosted.org/packages/fe/0c/9ca123125fb3cda9281f30e90b493e8ae3bb9bf6965bb7f275713fa02dd2/neotime-1.0.0.tar.gz
Collecting prompt_toolkit==1.0.15
  Downloading https://files.pythonhosted.org/packages/04/d1/c6616dd03701e7e2073f06d5c3b41b012256e42b72561f16a7bd86dd7b43/prompt_toolkit-1.0.15-py3-none-any.whl (247kB)
     |████████████████████████████████| 256kB 19.2MB/s
Requirement already satisfied: pygments>=2.0 in /usr/local/lib/python3.6/dist-packages (from py2neo==4.1.3) (2.6.1)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from py2neo==4.1.3) (3.6.4)
Collecting urllib3[secure]<1.23,>=1.21.1
  Downloading https://files.pythonhosted.org/packages/63/cb/6965947c13a94236f6d4b8223e21beb4d576dc72e8130bd7880f600839b8/urllib3-1.22-py2.py3-none-any.whl (132kB)
     |████████████████████████████████| 133kB 18.6MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from neotime==1.0.0->py2neo==4.1.3) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt_toolkit==1.0.15->py2neo==4.1.3) (0.2.5)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->py2neo==4.1.3) (1.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->py2neo==4.1.3) (8.6.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->py2neo==4.1.3) (0.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->py2neo==4.1.3) (50.3.2)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->py2neo==4.1.3) (1.9.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest->py2neo==4.1.3) (20.3.0)
Requirement already satisfied: certifi; extra == "secure" in /usr/local/lib/python3.6/dist-packages (from urllib3[secure]<1.23,>=1.21.1->py2neo==4.1.3) (2020.11.8)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Building wheels for collected packages: py2neo, neo4j-driver, neotime
  Building wheel for py2neo (setup.py) ... done
  Created wheel for py2neo: filename=py2neo-4.1.3-py2.py3-none-any.whl size=89805 sha256=60957767ac2977681428baecaa2efcb5b26fd19bb4285a81816f434368f19686
  Stored in directory: /root/.cache/pip/wheels/49/b4/f8/df22db284f7ec2f6c26f87a87ff38c6c8ffa84baf2930ef0fe
  Building wheel for neo4j-driver (setup.py) ... done
  Created wheel for neo4j-driver: filename=neo4j_driver-1.6.3-cp36-cp36m-linux_x86_64.whl size=525046 sha256=dd916ab7fe6f0ee823d53d6c7609f00da0f86c0f0aa47ab494c5af561dfdfaae
  Stored in directory: /root/.cache/pip/wheels/e3/3d/6f/b1afb54585268913bb38334adaa58c2938911edc85102803a1
  Building wheel for neotime (setup.py) ... done
  Created wheel for neotime: filename=neotime-1.0.0-cp36-none-any.whl size=14714 sha256=705c2c1259d1767a4b3b070836f4d944d030011b58021136a4c729e0e9648b1b
  Stored in directory: /root/.cache/pip/wheels/19/1c/63/e1777cae4998cb32c5ae5bb1901def45cc94de3abff4d7053d
Successfully built py2neo neo4j-driver neotime
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: neo4j-driver 1.6.3 has requirement neotime<1.8,>=1.7.1, but you'll have neotime 1.0.0 which is incompatible.
Installing collected packages: colorama, neotime, neo4j-driver, prompt-toolkit, urllib3, py2neo
  Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed colorama-0.4.4 neo4j-driver-1.6.3 neotime-1.0.0 prompt-toolkit-1.0.15 py2neo-4.1.3 urllib3-1.22

In [ ]:
from py2neo import Graph
import pandas as pd

import matplotlib 
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_colwidth', 100)

Next, create a connection to your Neo4j Sandbox, just as you did previously when you set up your environment. 

<div align="left">
    <img src="https://github.com/neo4j-contrib/training-v2/blob/master/Courses/DataScience/notebooks/images/sandbox-citations.png?raw=1" alt="Citation Sandbox"/>
</div>

Update the cell below to use the IP Address, Bolt Port, and Password, as you did previously.

In [ ]:
# Change the line of code below to use the IP Address, Bolt Port, and Password of your Sandbox.
# graph = Graph("bolt://<IP Address>:<Bolt Port>", auth=("neo4j", "<Password>")) 
 
from py2neo import Graph 
graph = Graph("bolt://100.26.229.35:34820", auth=("neo4j", "dares-problems-concurrence"))

##  Finding popular authors

Since we're going to make collaborator suggestions find authors who have written the most articles so that we have some data to work with.

In [ ]:
popular_authors_query = """
MATCH (author:Author)
RETURN author.name, size((author)<-[:AUTHOR]-()) AS articlesPublished
ORDER BY articlesPublished DESC
LIMIT 10
"""

graph.run(popular_authors_query).to_data_frame()

        author.name  articlesPublished
0  Peter G. Neumann                 89
1  Peter J. Denning                 80
2    Moshe Y. Vardi                 72
3  Pamela Samuelson                 71
4      Bart Preneel                 65
5    Vinton G. Cerf                 56
6    Barry W. Boehm                 53
7      Mark Guzdial                 49
8  Edwin R. Hancock                 47
9     Josef Kittler                 46

Pick one of these authors...

In [ ]:
author_name = "Peter G. Neumann"

Retrieve the articles they've published and how many citations they've received:

In [ ]:
author_articles_query = """
MATCH (:Author {name: $authorName})<-[:AUTHOR]-(article)
RETURN article.title AS article, article.year AS year, size((article)<-[:CITED]-()) AS citations
ORDER BY citations DESC
LIMIT 20
"""

graph.run(author_articles_query,  {"authorName": author_name}).to_data_frame()

                                                                          article  ...  citations
0                                                       The foresight saga, redux  ...          2
1                                                           Security by obscurity  ...          2
2   Risks of automation: a cautionary total-system perspective of our cyberfuture  ...          1
3                                                      Crypto policy perspectives  ...          1
4                                                Risks of National Identity Cards  ...          1
5                                                   Computers, ethics, and values  ...          1
6                                                 Are dependable systems feasible  ...          1
7                                               Information system security redux  ...          1
8                                                              The foresight saga  ...          1
9                                                     Robust open-source software  ...          1
10                                                                  Friendly fire  ...          0
11                                                                Animal crackers  ...          0
12                                                          Alternative passwords  ...          0
13                                                       Computers: boon or bane?  ...          0
14                                                        Optimistic optimization  ...          0
15                                                              Internet gambling  ...          0
16                                             The risks of self-auditing systems  ...          0
17                                                         Anticipating disasters  ...          0
18                                             Risks of neglecting infrastructure  ...          0
19                                              Responsibilities of technologists  ...          0

[20 rows x 3 columns]

Find the author's collaborators:

In [ ]:
collaborations_query = """
MATCH (:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor)
RETURN coauthor.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 10
"""

graph.run(collaborations_query,  {"authorName": author_name}).to_data_frame()

                  coauthor  collaborations
0         Lauren Weinstein               3
1         Whitfield Diffie               3
2             Susan Landau               3
3  Steven Michael Bellovin               2
4               Matt Blaze               2
5       Rebecca T. Mercuri               2
6        Alfred Z. Spector               1
7       Seymour E. Goodman               1
8       David Lorge Parnas               1
9           Douglas Miller               1

How would you suggest some future collaborators for this author? One way is by looking at the collaborators of their collaborators!

In [ ]:
collaborations_query = """
MATCH (author:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor),
      (coauthor)<-[:AUTHOR]-()-[:AUTHOR]->(coc)
WHERE not((coc)<-[:AUTHOR]-()-[:AUTHOR]->(author)) AND coc <> author      
RETURN coc.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 10
"""

graph.run(collaborations_query,  {"authorName": author_name}).to_data_frame()

               coauthor  collaborations
0        John Ioannidis              10
1         Scott Bradner               9
2  Angelos D. Keromytis               8
3           John Kelsey               7
4      Virgil D. Gligor               5
5          David Wagner               4
6         Peter Wolcott               4
7           Ran Canetti               4
8    Gerald Jay Sussman               4
9      David K. Gifford               4

Each of these people have collaborated with someone that Peter has worked with before, so they might be able to do an introduction.

## Exercise

1. Can you find the top 20 suggested collaborators for 'Brian Fitzgerald' instead of 'Peter G. Neumann'?
2. How many of these potential collaborators have collaborated with Brian's collaborators more than 3 times?

Keep the results of this exercise handy as they may be useful for the quiz at the end of this module.

In [ ]:
query = """
MATCH (author:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor),
      (coauthor)<-[:AUTHOR]-()-[:AUTHOR]->(coc)
WHERE not((coc)<-[:AUTHOR]-()-[:AUTHOR]->(author)) AND coc <> author      
RETURN coc.name AS coauthor, count(*) AS collaborations
ORDER BY collaborations DESC
LIMIT 20
"""

params = {"authorName": "Brian Fitzgerald", "searchTerm": "open source"}
graph.run(query, params).to_data_frame()

                coauthor  collaborations
0           Holger Giese               5
1      Robert C. Seacord               4
2           Chris Jensen               4
3         Grace A. Lewis               4
4      Gabriel A. Moreno               4
5     Judith A. Stafford               4
6        Kurt C. Wallnau               4
7          Ivar Jacobson               3
8             Klaus Pohl               3
9          Nicolás López               3
10         Gerald Bortis               3
11      Thomas D. LaToza               3
12         Thuan Q. Pham               2
13            Neil Smith               2
14  Juan Fernandez-Ramil               2
15           Ben Shreeve               2
16        Stefan Henkler               2
17     Salah Bendifallah               2
18             Peiwei Mi               2
19   Kendra M. L. Cooper               2

In [ ]:
query = """
MATCH (author:Author {name: $authorName})<-[:AUTHOR]-(article)-[:AUTHOR]->(coauthor),
      (coauthor)<-[:AUTHOR]-()-[:AUTHOR]->(coc)
WHERE not((coc)<-[:AUTHOR]-()-[:AUTHOR]->(author)) AND coc <> author      
WITH coc, count(*) AS collaborations
WHERE collaborations > 3
RETURN count(*)
"""
graph.run(query, params).to_data_frame()

   count(*)
0         7